.value {
  /* background-image: url("../assets/img/2ndScreen.png"); */
  /* background-position: top center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* height: 100vh; */
  background: white;
  display: grid;
  grid-template-rows: 1fr 6fr;
}


/* .value .value-tab-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.value .value-tab {
  background: #80bcb5;
  border-radius: 10px;
  padding: 15px;
  font-size: 14px;
  font-family: "Muli-Bold";
  display: flex;
  gap: 10px;
  width: 200px;
  cursor: pointer;
  flex-grow: 2;
  color: #054b57;
}

.value .value-tab-active {
  background: #e4faff;
}

.value .value-tab div {
  align-self: center;
}

.value .value-icon {
  width: 25px;
}

.value .value-container {
  padding-left: 150px;
  display: grid;
  grid-template-columns: 2fr 0.8fr;
}

.value-wrapper {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 20px;
  padding-bottom: 40px;
}
.value-desc-container {
  background: #e4faff;
  border-radius: 11.7715px;
  padding: 30px 45px;
  transition: 0.3s ease-in-out;
  height: 300px;
  display: grid;
  place-content: center;
  z-index: 10;
}

.value-desc-heading {
  font-family: "Muli-Extra-Bold";
  font-size: 30px;
  line-height: 134.6%;
  letter-spacing: 0.075em;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #054b57;
} */
/* .value-desc-sub {
  font-size: 18px;
  line-height: 167.6%;
  font-family: "Muli-Semi-Bold";
  letter-spacing: 0.095em;
  text-transform: capitalize;

  color: #054b57;
  margin-bottom: 10px;
} */

/* .value-desc-action {
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Muli-Semi-Bold";
  color: #054b57;
} */
/* .value-image-wrapper {
  position: relative;
  align-self: end;
} */
/* .value-image-container {
  overflow: hidden;

  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
/* .value .value-image { */
/* height: 350px; */
/* display: block; */
/* } */

/* .value .value-image3 {
  height: 350px;
  margin-top: 60px;
} */

.value-profiles-container {
  display: grid;

  grid-auto-rows: minmax(150px, auto);
}

.value-profiles-wrapper {
  width: 70%;
  /* margin-left: 10%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 80px;
}

.value-feature{
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  padding-bottom: 10px;
  align-items: center;
}

.value-icon{
  width: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.LineDiv{
  width: 80%;
}

@media only screen and (min-width:500px){
  .value-profiles-wrapper {
    margin-left: 10%;
    width: 80%;
}
.LineDiv{
  width: 80%;
}
}



.value-subject {
  display: grid;
  width: 99%;
  margin-left: 6%;
  /* grid-template-columns: 1fr 2fr; */
}

.value-subject-text {
  width: 95%;
  font-family: "Muli-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 17.3026px;
  line-height: 35px;
  /* text-transform: capitalize; */
  color: #ffffff;
  place-self: center;
}

.value-feature{
  font-family: "Muli-Extra-Light";
}

.value-subject-sub {
  line-height: 149%;
  /* or 36px */
  font-size: var(--fs-300);
  letter-spacing: 0.02em;

  color: #3c3c3c;
}

.value-button-container {
  font-size: var(--fs300);
  line-height: 167.6%;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 200px); */
  /* or 40px */
  font-family: "Muli-Bold";
  letter-spacing: 0.025em;
  width: 50%;
  text-align: left;
}

.value-img {
  /* position: relative; */
  /* object-fit: contain; */
  width: 90%;
  margin-left: 5%;
  /* height: 500 0.33px; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  place-self: center;
  /* margin-top: 50px; */
}

.img1,
.img2,
.img3 {
  /* min-width: 100%;  */
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}

/* @media screen and (max-width: 900px) {
  .value-button-container {
    width: 50%;
  }
} */

@media screen and (max-width: 500px) {
  .value-button-container {
    width: 60%;
  }

  .value-img {
    grid-row-start: 2;
  }
}
